form{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 5px rgb(63, 7, 7,0.1);
}
form input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    margin-top: 30px;
    border: 1px splie rgb(187, 187, 183);
}
form input::placeholder{
    color: rgb(196, 196, 199);
    font-size: 15px;
    padding-left: 10px;
}
form a {
    margin-top:10px ;
    margin-bottom: 10px;
    text-decoration: none;
}
form p {
    margin: 10px;
}
form button {
    width: 300px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    background-color:#0171D3 ;
    color: aliceblue;
    font-size: 15px;
}
.withLogin {
    margin-bottom: 20px;
}
#withgoogle{
    background-color: rgb(255, 255, 255);
    color: rgb(141, 136, 130);
    border: 1px solid rgb(175, 159, 159);
}
.register{
    margin-top: 20px;
}